body::-webkit-scrollbar {
    width: 12px;               /* ширина scrollbar */
}
body::-webkit-scrollbar-track {
    background: #27c7d0;        /* цвет дорожки */
}
body::-webkit-scrollbar-thumb {
    background-color: #462d71;
    border-radius: 20px;
    border: 3px solid #f6cc1e;  /* padding вокруг плашки */
}
 #map {
     height: 720px; padding: 0; margin: 0;
}
.main{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-image: url("../image/bg.png" );
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-size: cover;

}
.wrapperf{
    margin-left: 80px;
    margin-top: 99px;
    margin-right: 80px;
    margin-bottom: 38px;
}
 .footer{
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     background-repeat: no-repeat;
     box-sizing: border-box;
     background: #462D71;
     width: 100%;
     height: 100vh;
     background-position: center center;
     background-size: cover;
 }
.flora {
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-image: url("../image/videobg.png" );
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-size: cover;

}

.lider{
    width: 100%;
    height: 100vh;

}
.about{
    position: absolute;
    width: 800px;
    height: 730px;
    margin-bottom: 85px;
    margin-top: 85px;
background:  linear-gradient(262.89deg, #24C6DB -17.37%, #33CC99 133.78%), #FFFFFF;
}
.header {
    max-width: 100%;
    padding-left: 80px;
    padding-right: 99px;
    margin: 0 auto;
display: flex;
    align-items: center;
    background-color:#462D71;
}
.logo{

}
nav{
    flex: 1;

}
.nav {
    list-style-type: none;
    font-size: 15px;
    display: flex; }
.item {
    margin-left: 23px; }
.link {
    color: #FFFFFF;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: 0.5s;
    margin-right:30px;}
.link:hover {
    border-bottom: 1px solid #FFFFFF; }
.fran{
    width: 196px;
    height: 35px;
    background: linear-gradient( #33CC99, #24C6DB);
    margin-top: 17px;
    border-radius: 50px;
    margin-right: 20px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;

}
.lk{
   display: flex;
}
.f_link{
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
    padding-left: 20px;
    margin-top: 10px;
}
.f_link_r{
    color: #141414;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    padding-left: 20px;
    margin-top: 10px;
}
.vec{
    margin-top: 5px;

}
.box_about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 172px;
    height: 100%;


   }
.box_item {
    flex: 0 0 40%;
    max-width: 50%;
    position: relative;
    text-align: center;
}
.text_it{
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.right{
    margin-left: 5px;
    position: absolute;
    margin-top: -5px;
}
.btn_scroll {
    bottom: 40px;
    margin-left:48%;
    position: absolute;
    text-align: center;}
.ns{
    font-size: 9px;
    line-height: 11px;
}
.social-icon{

    display: flex;
    align-items: end;
    flex-direction: column;
    margin-bottom: 40px;
}
.social-icon img{

    margin: 25px 25px;
}
.fran1{

    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    margin: 29px;
text-decoration: none;
    transition: all 0.7s ease-in-out;
}



.v{
    background: #33CC99;
    border-radius: 40px;
    justify-content: end;
height: 80px;

    display: flex;
    margin-right: 40px;
    margin-bottom: 10px;
}
.v1{
    background: #33CC99;
    border-radius: 40px;
    justify-content: end;
    width: 80px;
    position: relative;
    right: -60%;
    margin-right: 40px;
    margin-bottom: 10px;
}

.vr{
    position: fixed;
  bottom: 40px;
    z-index: 1;
}
.pere{
    padding: 80px;
    font-family: TT Milks;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 95%;
    margin: 0;

}


.wrapper {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 80px;
    margin: 0 auto;
}
.cvet{
    padding: 80px;
    color: #FFFFFF;
    font-size: 20px;
    margin: 0;
}
.struk{
    font-size: 16px;
    padding: 80px;
    color: #FFFFFF;
}
.ld{
    position: absolute;
    height: 730px;
    margin-bottom: 85px;
    right: 0;
    margin-top: 85px;
    background-image:linear-gradient(262.89deg, #F84777 -17.37%, #FFD519 133.78%), url("../image/smart.png" );

}
.services{
    display: grid;
    grid-template: 1fr 1fr/ 1fr 1fr;
    grid-gap: 40px;
    color: #FFFFFF;
}
.title_h3{
    font-size: 50px;
    font-weight: 400;
    margin: 14px;
}
.truck{
    color: #FFFFFF;
    font-size: 40px;
}
.services_text{
    font-size: 18px;
    line-height: 140%;
}
.services_item{
    width: 225px;
}
.inst{
    font-size: 40px;
}
.f{
    color:#462D71; ;
}
.t{
    color: #33CC99;
}
 ymaps.ymaps-2-1-79-balloon__tail {
     display: none;
 }
 .ymaps-2-1-79-searchbox__normal-layout .ymaps-2-1-79-searchbox-input {
     border-radius: 50px;
     margin-left: -10px;
 }
 ymaps.ymaps-2-1-79-controls__control_toolbar {

     padding: 30px;
     background:
             linear-gradient(85.52deg, #F84777 -17.34%, #FFD519 195.91%);
 }
 .ymaps-2-1-79-searchbox__normal-layout .ymaps-2-1-79-searchbox__button-cell {
     z-index: 2;
     left: -8px;
 }
 a.ymaps-2-1-79-gototech {
     display: none;
 }
 ymaps.ymaps-2-1-79-islets_serp-item {
     /* width: 608px; */
     background: linear-gradient(
             85.52deg, #F84777 -17.34%, #FFD519 195.91%);
 }
 ymaps.ymaps-2-1-79-islets_serp-popup {
     left: -30px;
     right: -30px;
 }
 ymaps.ymaps-2-1-79-islets_serp-popup {
     background: linear-gradient(
             85.52deg, #F84777 -17.34%, #FFD519 195.91%);
 }
 ymaps.ymaps-2-1-79-islets_serp-popup__tail {
     display: none;
 }

 ymaps.ymaps-2-1-79-balloon__content {
     margin-right: 11px;
     padding-right: 0;
 }

 ymaps.ymaps-2-1-79-islets_serp-item__title {
     color: #FFFFFF;
     margin-bottom: 15px;
     font-weight: 600;
     font-size: 26px;
 }
 ymaps.ymaps-2-1-79-islets_card__description {
     color: #FFFFFF;
     font-size: 15px;
 }
 ymaps.ymaps-2-1-79-balloon__layout {
     padding: 20px;
     background: border-box;
     background: linear-gradient(
             85.52deg, #F84777 -17.34%, #FFD519 195.91%);
     text-align: center;
     top: 104px;
     position: absolute;
 }
 ymaps.ymaps-2-1-79-islets_serp-item.ymaps-2-1-79-islets__first.ymaps-2-1-79-islets__selected:hover {
     background: linear-gradient(
             85.52deg, #fc8b4b -17.34%, #33cc99 195.91%);
 }
 ymaps.ymaps-2-1-79-balloon__content {
     display: contents;
 }

 ymaps.ymaps-2-1-79-balloon__close {
     margin-top: -10px;
 }
 ymaps.ymaps-2-1-79-balloon.ymaps-2-1-79-balloon_layout_normal.ymaps-2-1-79-balloon_to_top.ymaps-2-1-79-i-custom-scroll {
     top: -200px;
 }
 ymaps.ymaps-2-1-79-islets_serp-item:hover {
     /* width: 608px; */
     background: linear-gradient(
             85.52deg, #fc8b4b -17.34%, #33cc99 195.91%);
 }
 ymaps.ymaps-2-1-79-islets_serp-item.ymaps-2-1-79-islets__first.ymaps-2-1-79-islets__selected {
     background: linear-gradient(
             85.52deg, #fc8b4b -17.34%, #33cc99 195.91%);
 }

 .kontak {
     width: 100%;
     display: flex;
     justify-content: space-between;
 }
 .cl{
     color: #FFFFFF;
     font-family: Inter;
     font-style: normal;
     font-size: 12px;
     line-height: 15px;

     letter-spacing: 0.1em;
     text-transform: uppercase;
 }
 .rz{
     color: #FFFFFF;
     padding-top: 31px;
 }
 .ad{
     color: #FFFFFF;
     line-height: 0px;
 }
 .tel {
     display: flex;
     flex-direction: column;
     line-height: 20px;
     padding-top: 80px;
     line-height: 140%;
 }
 .tt{
     font-size: 16px;
     color: #FFFFFF;
     text-decoration: none;
 }
 .te{
     font-size: 16px;
     color: #FFFFFF;
     text-decoration: none;
 }
 .pereh{
     color: #FFFFFF;text-transform: uppercase;
     line-height: 45px;
     font-family: Inter;
     font-style: normal;
     font-weight: 600;
     font-size: 13px;
     letter-spacing: 0.05em;

 }
 .pereh:hover{
     text-decoration: none;
 }
 .uslug{
     display: flex;
     flex-direction: column;
 }
 .f_link1 {
     color: #FFFFFF;
     font-size: 13px;
     font-weight: 700;
     text-decoration: none;
     /* padding-left: 20px; */
     margin-top: 10px;
 }
 .fran2{
     width: 172px;
     height: 35px;
     background: linear-gradient(262.89deg, #F84777 -17.37%, #FFD519 133.78%);
     margin-top: 45px;
     border-radius: 50px;
     margin-right: 20px;
     text-transform: uppercase;
     display: flex;
     justify-content: center;
     font-family: Inter;
     font-style: normal;
     font-weight: bold;
     font-size: 13px;

 }
 .raspol {
     margin-right: -30%;
 }
 [class*=card__description] {
     white-space: break-spaces;
 }
 .vb {
     z-index: 5;
     position: absolute;
     margin-top: 100px;
     margin-left: 100px;
     font-size: 40px;
 }
 ymaps.ymaps-2-1-79-controls__control_toolbar {

     box-shadow: -15px -19px 30px 1px rgb(43 76 80 / 54%);
 }

 ymaps.ymaps-2-1-79-searchbox-button-text {
     display: none;
 }
 ymaps.ymaps-2-1-79-searchbox-button.ymaps-2-1-79-_pin_right.ymaps-2-1-79-user-selection-none {
 background-color: white;
     width: 50px;
     background-image: url(../image/lup.png);
     background-repeat: no-repeat;
     text-align: center;
     background-position: center center;
     margin-right: -18px;
     border-radius: 50px;
 }

.item_container {
    position: relative;
    z-index: 1;
    display: block;
    margin-bottom: -1px;
    border-top: 1px solid #7c7c7c;
    vertical-align: top;
    font: 13px/20px Arial, Helvetica, sans-serif;
    padding: 7px 23px 5px;
    background: linear-gradient(
            85.52deg, #F84777 -17.34%, #FFD519 195.91%);
    color: #fff;
}
.item_container:hover{
    background: linear-gradient(
            85.52deg, #fc8b4b -17.34%, #33cc99 195.91%);
}
ymaps.ymaps-2-1-79-controls__control {
    display: none;
}
.item_name {
    font-family: Inter;
    font-size: 22px;
    padding-bottom: 12px;
}
.item_address {
    /* font-family: Inter; */
    /* font-style: normal; */
    /* font-weight: 100; */
    line-height: 15px;
    font-size: 16px;
}
h2.fran2:hover {
    background: #F84777;
}
.ymaps-2-1-79-islets_serp:before{
    background: #33CC99;
}
.obs{
    font-size: 40px;

}
.vopr{
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}
.vopr:hover{

    color: #F84777;

}
ymaps.ymaps-2-1-79-gotoymaps__container {
    display: none;
}
ymaps.ymaps-2-1-79-copyright__wrap {
    display: none;
}
.w {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}